/.idea
/.idea_modules
/out
target
/versions.properties
/bin/mill.bat
/bin/prelude.sh
/bin/platform.sh
/bin/prelude.ps1
/bin/sireum
/bin/sireum.jar
/bin/.sireum-win.jar
/bin/sireum.bat
/bin/mac
/bin/linux
/bin/win
/bin/scala
/lib
/runtime
*.cmd.jar
*.cmd.com